body {
  background-color: white;
}

h1 {
  text-align: center;
  color: black;
}


.time {
  color: #E25440;
}

p {
  padding: 0;
}

div {
  margin: 20px auto;
  width: 75%;
  background-color: #80deea;
  padding: 10px 10px 1px 10px;
}